<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js</title>

    <style>
      .show-enter-active {
        animation: showHide 0.5;
      }
      .show-leave-active {
        animation: showHide 0.5 reverse;
      }

      @keyframes showHide {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(1.5);
        }
        100% {
          transform: scale(1);
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button @click="show = !show">Show / Hide</button>
      <transition name="showText">
        <p v-if="show">Our paragraph text that comes and goes</p>
      </transition>
    </div>

    <script src="http://unpkg.com/vue"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          show: true,
        },
      });
    </script>
  </body>
</html>
